FROM redis:{{ .redis_version }}-alpine

EXPOSE {{ .redis_port }}

VOLUME ["/data"]

CMD ["redis-server", "--port", "{{ .redis_port }}", "--appendonly", "yes", "--requirepass", "{{ .redis_password }}"{{ if .maxmemory }}, "--maxmemory", "{{ .maxmemory }}"{{ end }}{{ if .maxmemory_policy }}, "--maxmemory-policy", "{{ .maxmemory_policy }}"{{ end }}]