FROM golang:{{ .go_version }}-alpine AS builder

WORKDIR /build

RUN apk add --no-cache git

COPY go.mod go.sum* ./
RUN go mod download

COPY . .

RUN CGO_ENABLED=0 GOOS=linux go build -a -installsuffix cgo -ldflags '-w -s' -o main .

FROM alpine:latest

WORKDIR /app

RUN apk --no-cache add ca-certificates tzdata

RUN addgroup -S fiber && adduser -S fiber -G fiber

COPY --from=builder /build/main .

RUN chown fiber:fiber main

USER fiber

EXPOSE {{ .app_port }}

CMD ["./main"]