FROM nginx:{{ .nginx_version }}-alpine

COPY . /usr/share/nginx/html

RUN echo 'server { \
    listen {{ .app_port }}; \
    location / { \
        root /usr/share/nginx/html; \
        index index.html index.htm; \
    } \
}' > /etc/nginx/conf.d/default.conf

EXPOSE {{ .app_port }}

CMD ["nginx", "-g", "daemon off;"]