FROM postgres:{{ .version }}

ENV POSTGRES_DB={{ .database_name }}
ENV POSTGRES_USER={{ .superuser_username }}
ENV POSTGRES_PASSWORD={{ .superuser_password }}
ENV POSTGRES_MAX_CONNECTIONS={{ .max_connections }}
ENV POSTGRES_SHARED_BUFFERS={{ .shared_buffers }}

RUN echo "max_connections = $POSTGRES_MAX_CONNECTIONS" >> /usr/share/postgresql/postgresql.conf.sample && \
    echo "shared_buffers = $POSTGRES_SHARED_BUFFERS" >> /usr/share/postgresql/postgresql.conf.sample{{ if .effective_cache_size }} && \
    echo "effective_cache_size = {{ .effective_cache_size }}" >> /usr/share/postgresql/postgresql.conf.sample{{ end }}{{ if .work_mem }} && \
    echo "work_mem = {{ .work_mem }}" >> /usr/share/postgresql/postgresql.conf.sample{{ end }}

EXPOSE 5432

VOLUME ["/var/lib/postgresql/data"]