FROM postgres:{{ .version }}

{{ if .postgres_password -}}
ENV POSTGRES_PASSWORD={{ .postgres_password }}
{{- else -}}
ENV POSTGRES_HOST_AUTH_METHOD=trust
{{- end }}
ENV POSTGRES_MAX_CONNECTIONS={{ .max_connections }}
ENV POSTGRES_SHARED_BUFFERS={{ .shared_buffers }}

RUN echo "max_connections = $POSTGRES_MAX_CONNECTIONS" >> /usr/share/postgresql/postgresql.conf.sample && \
    echo "shared_buffers = $POSTGRES_SHARED_BUFFERS" >> /usr/share/postgresql/postgresql.conf.sample

EXPOSE 5432

VOLUME ["/var/lib/postgresql/data"]