FROM mcr.microsoft.com/dotnet/sdk:{{ .dotnet_version }}-alpine AS build

WORKDIR /app

COPY *.csproj ./
RUN dotnet restore

COPY . ./
RUN dotnet publish -c Release -o out

FROM mcr.microsoft.com/dotnet/aspnet:{{ .dotnet_version }}-alpine

WORKDIR /app

RUN addgroup -S dotnet && adduser -S dotnet -G dotnet

COPY --from=build /app/out .

RUN chown -R dotnet:dotnet /app

USER dotnet

EXPOSE {{ .app_port }}

ENTRYPOINT ["dotnet", "{{ .app_name }}.dll"]