FROM mysql:{{ .version }}

ENV MYSQL_CHARACTER_SET_SERVER={{ .charset }}
{{ if .database_name -}}
ENV MYSQL_DATABASE={{ .database_name }}
{{- end }}
{{ if .root_password -}}
ENV MYSQL_ROOT_PASSWORD={{ .root_password }}
{{- else -}}
ENV MYSQL_ALLOW_EMPTY_PASSWORD=yes
{{- end }}

RUN echo "[mysqld]" > /etc/mysql/conf.d/custom.cnf && \
    echo "character-set-server={{ .charset }}" >> /etc/mysql/conf.d/custom.cnf && \
    echo "max_connections={{ .max_connections }}" >> /etc/mysql/conf.d/custom.cnf{{ if .innodb_buffer_pool_size }} && \
    echo "innodb_buffer_pool_size={{ .innodb_buffer_pool_size }}" >> /etc/mysql/conf.d/custom.cnf{{ end }}{{ if .max_allowed_packet }} && \
    echo "max_allowed_packet={{ .max_allowed_packet }}" >> /etc/mysql/conf.d/custom.cnf{{ end }}

{{ with .app_username }}{{ with $.app_password -}}
ENV MYSQL_USER={{ $.app_username }}
ENV MYSQL_PASSWORD={{ $.app_password }}
{{- end }}{{ end }}

EXPOSE 3306

VOLUME ["/var/lib/mysql"]