FROM mongo:{{ .mongo_version }}

ENV MONGO_INITDB_ROOT_USERNAME={{ .root_username }}
ENV MONGO_INITDB_ROOT_PASSWORD={{ .root_password }}
ENV MONGO_INITDB_DATABASE={{ .database_name }}

{{ if and .app_username .app_password -}}
RUN echo 'db.getSiblingDB("{{ .database_name }}").createUser({user: "{{ .app_username }}", pwd: "{{ .app_password }}", roles: [{role: "readWrite", db: "{{ .database_name }}"}]})' > /docker-entrypoint-initdb.d/01-create-user.js
{{- end }}

EXPOSE {{ .mongo_port }}

VOLUME ["/data/db", "/data/configdb"]

CMD ["mongod", "--port", "{{ .mongo_port }}"]